.rfox-rate__list {
    display: flex
}

.rfox-rate_item {
    padding: 0 2px;
    cursor: pointer;
    &:first-child {
        padding-left: 0
    }
    &:last-child {
        padding-right: 0
    }
    i {
        display: inline-block;
        color: #e8e8e8;
        transition: transform 0.15s linear;
    }
    &:hover,
    &.rfox-rate_item--hover {
        i {
            color: #fadb14;
            transform: scale(1.1);
        }
    }
}