.icon.iconfont.spin {
    display: inline-block;
    animation: spin 1.5s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}