.rfox-modal__mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.rfox-modal__mask--hidden {
    display: none;
}

.rfox-modal__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    outline: 0;
}

.rfox-modal__wrapper--hidden {
    display: none;
}

.rfox-modal {
    position: relative;
    top: 100px;
    margin: 0 auto;
    border: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.rfox-modal--center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.rfox-modal__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.rfox-modal__close--hidden {
    display: none;
}

.rfox-modal__close-x {
    display: block;
    width: 56px;
    height: 56px;
    font-size: 16px;
    font-style: normal;
    line-height: 56px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
}

.rfox-modal__header {
    padding: 16px 24px;
    color: rgba(0, 0, 0, 0.65);
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
}

.rfox-modal__title {
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.rfox-modal__body {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

.rfox-modal__footer {
    padding: 10px 16px;
    text-align: right;
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px;

    button+button {
        margin-left: 8px;
    }
}

.rfox-btn__mask {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        opacity: 0.3;
        background-color: #fff;
        z-index: 1;
        transition: opacity 0.2s;
    }
}

.rfox-modal--simple {
    .rfox-modal {
        padding: 32px 32px 24px;
        overflow: hidden;
    }

    .rfox-modal__simple-title {
        display: block;
        overflow: hidden;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
        margin-left: 38px;
    }

    .rfox-modal__simple-desc {
        margin-top: 8px;
        margin-left: 38px;
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
    }

    .rfox-modal__header {
        display: none;
    }

    .rfox-modal__body {
        padding: 0;
    }

    .rfox-modal__footer {
        display: none;
    }

    button {
        margin-top: 18px;
        float: right;
    }

    .icon {
        position: absolute;
        top: 26px;
        left: 32px;
    }

    .icon-info-circle {
        color: #1890ff;
    }

    .icon-check-circle {
        color: #52c41a;
    }

    .icon-close-circle {
        color: #f5222d;
    }

    .icon-warning-circle {
        color: #faad14
    }
}