@keyframes ant-progress-active {
    0% {
        opacity: .1;
        width: 0
    }

    20% {
        opacity: .5;
        width: 0
    }

    100% {
        opacity: 0;
        width: 100%
    }
}