.ant-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    background: #f0f2f5;
    box-sizing: border-box;
    &.ant-layout-has-sider {
        flex-direction: row;
    }
    * {
        box-sizing: border-box;
    }
}

.ant-layout-header {
    height: 64px;
    padding: 0 50px;
    line-height: 64px;
    flex: 0 0 auto
}

.ant-layout-content {
    flex: auto;
    min-height: 0;
}

.ant-layout-footer {
    padding: 24px 50px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    background: #f0f2f5;
}

.ant-layout-sider {

}